.register { 
    display: flex;
    color: red;
    font-size: 36px;
}


@media screen and (max-width: 992px) {
    body {
        background-color: blue;
    }
    .register { font-size: 100px; }
}

@media screen and (max-width: 400px) {
    body {
        background-color: red;
    }
    .register { font-size: 64px; }
}
